@*@{
    ViewData["Title"] = "Home Page";
}*@

@model IEnumerable<Remastering.Models.Album>
@{
    ViewBag.Title = "Альбомы";
}






<a asp-action="Create">Добавить модель</a>
<table class="table">
    <tr><td>Название</td><td>Цена</td><td>Год</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Name</td><td>@item.Price</td><td>@item.Year</td></tr>
    }
</table>